#tweet-container {
    background-color: white;
    padding-top: 1rem;
  }

article.tweet {
    border: 1px #c8c8c8 solid;
    border-radius: 10px;
    opacity: 0.7;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

article.tweet:hover {
    border: 1px #c8c8c8 solid;
    border-radius: 10px;
    opacity: 1
}

article.tweet:hover span.favicons {
    opacity: 1;
}

 article.tweet header {
    background-color: #EEEEEE;
    border-radius: 10px 10px 0 0;
    padding: .5rem 1rem .5rem 1rem;
}

 article.tweet header img {
    float: left;
    height: 3rem;
    width: auto;
    border-radius: 10px;
    padding: 2px;
    background-color: lightgreen;

}

 article.tweet header h2 {
    display: inline-block;
    margin-left: 10px;
    margin-top: 0px;

}

 article.tweet header span {
    display: inline-block;
    float: right; 
    margin-top: 0px;
    margin-bottom: 0px;
}   

 article.tweet div {
    margin: 1rem;
    word-wrap: break-word;
    
}

 article.tweet footer {
    border-top: 1px solid #c8c8c8;
    padding: .5rem 1rem .5rem 1rem;
}

article.tweet span.favicons {
    float: right;
    margin: 1px;
    opacity: 0;
}

article.tweet span.favicons i {
    color: #00A087;
    margin-left: 5px;
    margin-right: 5px;
}






